
.joinbutton a{
  color: black;
  border: 2px solid #cae7d3;
  border-radius: 20px;
}

.mat-sidenav{
  height: auto;
  background-color:#fafaf7;
  width: 50%;
  text-align: center;
}

.logo-nav img {
  width: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.logo-nav h1{
  color: whitesmoke;
}
.logo-nav {
  background-color: #2aa65a;
}

.menu-button{
  background-color:#fafaf7;
  height: 3%;
  border-top: 1px solid #4fb372;
  border-radius: 0px;;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: green;
  padding-left: 10%;
}
.menu-button:hover, .menu-button:active{
  background-color: #4fb372;
  color: white;
}

.menuitems{
  float: right;
}

.login-window{
    
    font-size: 10px;;
    font-weight: bold;
}

.login-window input{
    border: none;
    border-bottom: 2px solid black;
}

.rightcontent,.leftcontent {  
  background-color: white;  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.leftcontent{
    background-color:#e5f4ea ; 
}


.btn{
    margin: 30px;
}


#main{
    transition:0.5s ;
}