<div class="jumbotron jumbotron-fluid" style="background-color: #e5f4ea; padding-top: 0%; padding-bottom: 0%;">
    <div class="text-center">
        <img src="./assets/homepage.PNG"  alt="" style="height: 250px;">
      
    </div>
    
  </div>
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="form"> <i class="fa fa-search"></i> <input type="text" class="form-control form-input" placeholder="Search for Products"> <span class="left-pan"><i class="fa fa-microphone"></i></span> </div>
    </div>
</div>